<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<center>
    <div th:each="student : ${students}">
        <a th:href="@{/students/{id}(id=${student.getId()})}" th:text="${student.getName()} +
        ' '+ ${student.getSurname()}">user</a>
        <form th:action="@{/students/{id}/delete(id=${student.id})}">
            <input style="color:orangered" type="submit" value="DELETE">
        </form>
    </div>
    <br>
    <form action="/students/new">
        <input style="color:blue" type="submit" value="ADD">
    </form>
</center>
</body>
</html>