<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <form th:method="DELETE" th:action="@{/students/{id}(id=${student.id})}" th:object="${student}">
        <h1 style="color:orangered"> Do you really want to delete this student?</h1>
        <h2 th:text="'Name - '+${student.name}"></h2>
        <h2 th:text="'Surname - '+${student.surname}"></h2>
        <h2 th:text="'Group number - ' +${student.groupNumber}"></h2>
        <input style="color:orangered" type="submit" value="DELETE">
    </form>
</center>
</body>
</html>