<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <form th:method="DELETE" th:action="@{/tutors/{id}(id=${tutor.id})}" th:object="${tutor}">
        <h1 style="color:orangered"> Do you really want to delete this tutor?</h1>
        <h2 th:text="'Name - '+${tutor.name}"></h2>
        <h2 th:text="'Surname - '+${tutor.surname}"></h2>
        <h2 th:text="'Qualification - '+${tutor.qualification}"></h2>
        <input style="color:orangered" type="submit" value="DELETE">
    </form>
</center>
</body>
</html>