<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1 th:text="'group number -'+${group.getId()}"></h1>
    <h2>
        <a th:href="@{/tutors/{id}(id=${group.getTutorId()})}" th:text="'Tutor link'">Edit</a>
    </h2>
    <form th:action="@{/groups/{id}/delete(id=${group.id})}">
        <input style="color:orangered" type="submit" value="DELETE">
    </form>
    <form th:action="@{/groups/{id}/update(id=${group.getId()})}">
        <input style="color:orange" type="submit" value="UPDATE">
    </form>
</center>
</body>
</html>